::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(200, 193, 193, 0.3);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(38, 36, 70);
    outline: 1px solid rgb(1, 74, 146);
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    width: 0px;
    height: 0px;
}

.fade-leave-active {
    display: none;
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-leave-to {
    display: none;
}

.fade-enter {
    opacity: 0;
}

.fade-both-enter-active, .fade-both-leave-active {
    transition: opacity .5s;
}

.fade-both-enter, .fade-both-leave-to {
    opacity: 0;
}

.hidden-sidebar {
    margin-right: 0px !important;
}

.fade-in-leave-active {
    display: none;
}

.fade-in-enter-active {
    transition: opacity .5s;
}

.fade-in-enter {
    opacity: 0;
}

.zoom-out-leave-active {
    animation-duration: 0.2s;
    animation-name: zoomOut;
}

.zoom-out-leave-to {
    opacity: 0;
}

@keyframes zoomOut {
    from {}
    50% {
        padding: 0;
    }
    to {
        padding: 0;
        height: 0px;
        opacity: 0;
    }
}

.opened {
    margin-right: 0;
}

.closed {
    margin-right: -320px
}

.transition {
    transition: all .5s ease-in-out;
}

.editr {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.editr--content {
    flex: 1;
    flex-grow: 1;
}